@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 250px;
    background-color: white;
    padding: 12px 12px;
    border-radius: 5%;
    margin: 125px auto;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.card_img {
    width: 100%;
    border-radius: 4%;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 18px;
    margin: 10px 1.75px;
    color: hsl(218, 44%, 22%);
}

p {
    text-align: center;
    font-size: 14px;
    margin: 15px 5px 25px 5px;
    color: hsl(210, 2%, 40%)
}
